#!/usr/bin/env bash

use flake .
# export MAMBA_ROOT_PREFIX=~/.local/share/mamba/envs
# eval "$(micromamba shell hook --shell=posix ~/.local/share/mamba/envs)"
# micromamba activate <<environment name>>
