/*
* https://developer.mozilla.org/en-US/docs/Web/CSS/--*
* https://github.com/datguypiko/Firefox-Mod-Blur/tree/master/EXTRA%20MODS/Compact%20extensions%20menu/Style%202
* https://github.com/datguypiko/Firefox-Mod-Blur/tree/master/EXTRA%20MODS/Icon%20and%20Button%20Mods/uBlock%20icon%20change
* https://github.com/datguypiko/Firefox-Mod-Blur/blob/master/EXTRA%20THEMES/MicaForEveryone/acrylic_micaforeveryone.css
*/

/* Don't dim titlebar when inactive */
#TabsToolbar:-moz-window-inactive { opacity: 1 !important; }

/* make tab scroll arrows take up less space */
#scrollbutton-up,
#scrollbutton-down {
  border: 0 !important;
/*   padding: 0 !important; */
}

/* Reduce left spacer on tab bar */
@supports (not (-moz-osx-font-smoothing: auto)) {
  @media not (-moz-bool-pref:"browser.lefttabspacer.enable") {
    .titlebar-spacer[type="pre-tabs"] {
      display: none !important;
    }
  }
}

/* Hide the all tabs dropdown arrow on the right */
#alltabs-button {
  visibility: hidden;
  width: 0px;
}

.browser-toolbar {
  font-family: "Liberation Mono";
}

/* remove window corner rounding in gtk */
/* https://github.com/leadweedy/Firefox-Proton-Square/blob/b6ccb203233e67a1479228c60bbe8dd087a358d3/userChrome.css#L131 */
:root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]) #navigator-toolbox:-moz-lwtheme,
:root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]) ::backdrop {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* Unselected Tab - Divide line */
.tab-stack::before,
.tabbrowser-tab:last-of-type .tab-stack::after {
  content: "";
}

.tab-stack::before,
.tab-stack::after {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 0px;
  height: 100%;
  border-right: 1px solid var(--custom-tab-divider-color, #003);
}

.tab-stack::after {
  right: 0;
}