/** 
* @name Thin Mode
* @author Tai 
* @description my theme
* @version 0.0.1
*/

 @media screen and (max-width: 700px) {
    
    * {
        --custom-guilds-list-width: 60px; 
        --custom-guild-sidebar-width: 175px;  
        --guildbar-avatar-size: 40px;
        --custom-message-margin-left-content-cozy: 40px; /* space for icon before message */
        --chat-avatar-size: 25px;
        --custom-message-margin-horizontal: var(--space-xs);
    }

    .listItem__650eb, /* server icon */
    .wrapper__48112 /* server folder icon */ {
        width: calc(20+var(--guildbar-avatar-size));
    }

    .link__972a0 /* single dm entry */ {
        padding: 0 1px 0 1px;
    }

    .avatar__20a53 /* dm icon */ {
        margin-right: 6px;
    }

    .name__20a53, /* dm name */
    .name__2ea32 /* channel names */ {
        font-size: 14px;
    }
}