.notification-window {
	min-height: 0px;
	background-color: transparent;
}

.notification-button {
	background-color: #282828;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	border-width: 2;
	border-color: #fabd2f;
}

.notification-button image {
	padding-right: 10px;
}