.taskbar-button {
    background-repeat: no-repeat;
	background-size: 40px;
	background-position: center;
	min-height: 40px;
	min-width: 40px;
	border: none;
}

.taskbar-window {
	background-color: #F5EEE6;
	border: 1px solid #161616;
	border-radius: 12px;
}